*
!monitorSizes
!monitorSizes/**
monitorSizes/*.png
!parsed
!parsed/**
!i18n
!i18n/**
!.gitignore
!disables.ts
!dispellableBuffs.ts
!doat2.ts
!dota2Abilities.json
!dota2Heroes.json
!dota2Heroes.ts
!dota2HeroSummary.json
!dota2Items.json
!dota2ItemsActive.json
!heroBuilds.ts
!keyConstants.ts
!messages.ts
!openDotaAPIplus.ts
!playerRoles.ts
!proTeams.ts
!README.md
!screenSizes.ts
!timerMessages.ts
!dota2Items.ts
!attributes.ts