*

!.vscode
!.vscode/**
!monitorSizes
!monitorSizes/measurements.ts
!monitorSizes/monitorMeasurements.ts
!monitorSizes/Monitor size implementation.xlsx
!scripts
!scripts/**
!content
!content/**
!access
!access/**
!utilities
!utilities/**
!utils
!utils/**
!submodules
!submodules/**
!.gitignore
!.gitimodules

!disables.ts
!dispellableBuffs.ts
!doat2.ts
!heroUtils.ts
!heroBuilds.ts
!messages.ts
!playerRoles.ts
!README.md
!timerMessages.ts
!tsconfig.json
!package.json
!babel.config.js
!jest.config.ts
!package-lock.json

